{% extends "base.html" %}
{% load static %}
{% load humanize %}

{% block title %}
  장바구니
{% endblock %}

{% block content %}
<div class="container my-3">
  <h5 class="border-bottom py-3">장바구니</h5>

  <table class="cart" style="width:100%">
    <thead>
      <tr>
        <th colspan="2" style="text-align: center;">상품</th>
        <th colspan="2" style="text-align: center;">수량</th>
        <th style="text-align: center;">단가</th>
        <!-- <th style="text-align: center;">금액</th> -->
      </tr>
    </thead>

    <tbody>
      {% for item in cart %}
        {% with product=item.product %}
          <tr>
            <td>
              <a href="{{ product.get_absolute_url }}">
                  <img src="{% if product.image %}
                    {{ product.image.url }}
                  {% else %}
                    {% static 'img/no_image.png' %}
                  {% endif %}">
              </a>
            </td>

            <td><a href="{{ product.get_absolute_url }}">
              {{ product.name|truncatechars:40 }}</a>
            </td>

            <td>
              <form action="{% url 'cart:cart_add' product.id %}" method="post">
                {{ item.update_quantity_form.quantity }}
                {{ item.update_quantity_form.override }}
                <!-- <input type="submit" class="btn btn-primary btn-sm" value="수정"> -->
                <input type="submit" class="btn btn-primary btn-sm" value="수정">
                {% csrf_token %}
              </form>
            </td>

            <td>
              <form action="{% url 'cart:cart_remove' product.id %}" method="post">
                <!-- <input type="submit" class="btn btn-primary btn-sm" value="삭제"> -->
                <input type="submit" class="btn btn-primary btn-sm" value="삭제">
                {% csrf_token %}
              </form>
            </td>

            <td class="num">{{ item.price|intcomma }}원</td>
            <!-- <td class="num">{{ item.total_price|intcomma }}원</td> -->
          </tr>
        {% endwith %}
      {% endfor %}

      {% if cart.coupon %}
        <tr class="subtotal">
          <td></td>
          <td colspan="2">합계</td>
          <td colspan="2" class="num">{{ cart.get_total_price|intcomma }}원</td>
        </tr>

        <tr>
          <td></td>
          <td colspan="2" style="text-align: left;">쿠폰: {{ cart.coupon.code }} ({{ cart.coupon.discount }}% DC)</td>
          <td colspan="2" class="num neg"> -{{ cart.get_discount|floatformat:0|intcomma }}원</td>
        </tr>
      {% endif %}

      <tr class="total">
        <td></td>
        <td colspan="2" style="text-align: right;">총 결재 금액</td>
        <td colspan="2" class="num">
          {{ cart.get_total_price_after_discount|floatformat:0|intcomma }}원
        </td>
      </tr>
    </tbody>
  </table>

  
  <form action="{% url 'coupons:apply' %}" method="post">
    {% csrf_token %}
    {{ coupon_apply_form }}
    <button type="submit" class="btn btn-primary btn-sm">할인 적용</button>
  </form>
  
  <p class="text-right my-3">
    <a href="{% url 'shop:product_list' %}" class="button light">계속 쇼핑</a>

    {% with total_items=cart|length %}
      {% if total_items > 0 %}
        <!-- 빠르게 2번 클릭할 경우 다른 order_id로 2번 주문이 발생할 수 있다. 처리할 것 -->
        <a href="{% url 'orders:order_create' %}" class="button">주문하기</a>
      {% endif %}
    {% endwith %}
  </p>

</div>
{% endblock %}
