{% extends "base.html" %}

{% block title %}비밀번호 재설정{% endblock %}

{% block content %}
<div class="container my-3">
  <h5 class="border-bottom py-2">비밀번호 재설정 후 로그인 이동</h5>

  {% if validlink %}
    <div>새로운 비밀번호를 2번 입력해 주세요. 그후 로그인 화면으로 이동합니다.</div>
    <br>
    <form method="post" class="post-form">
      {% csrf_token %}
      {{ form.as_p }}
      <p><input type="submit" class="btn btn-primary" value="비밀번호 변경" /></p>
    </form>
  {% else %}
    <p>비밀번호 초기화 링크가 부적합한데, 아마 이전에 사용되었기 때문일듯 합니다. <br>
      다시 비밀번호 초기화 설정을 실행해주세요.</p>
  {% endif %}
  
</div>
{% endblock %}
